<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andyyeh.examQ">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- to get the correct screen size, have to fit those type of screen -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!--newtworkSecurityConfig is optional, it based on if this app need to utilize the http or not-->
    <application
        android:name="com.andyyeh.examQ.ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.andyyeh.examQ.mainActivity.MainActivity" />
        <activity android:name="com.andyyeh.examQ.launchActivity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>